body { 
	padding:0; 
	margin:0; 
	background-color:#ffffff; 
	overflow: hidden;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
